.ACT1 {
    width: 600px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ff0000;
    text-align: center;
}

.ACT2 {
    width: 600px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ff0000;
    text-align: center;
}


.ACT3 {
    width: 600px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ff0000;
    text-align: center;
}

.ACT4 {
    width: 600px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ff0000;
    text-align: center;
}

.ACT5 {
    width: 600px;
    margin: 0 auto;
    padding: 25px;
    border: 1px solid #ff0000;
    text-align: center;
}